<h2><%= @cour.year %>年 <%= @cour.season_name %>アニメ</h2>
<div class="panel-tweet-btn">
  <%= link_to "Tweet", @cour.tweet_btn_uri, class: "twitter-share-button" %>
</div>
<% @animes.each_slice(3) do |row_animes| %>
  <div class="row">
    <% row_animes.each do |anime| %>
      <div class="col-md-4">
        <div class="panel panel-deafult">
          <div class="panel-header">
            <%= anime.title %>
          </div>
          <div class="panel-body">
            <div class="img-box">
              <% if anime.img_url.blank? %>
                <%= link_to(image_tag("no_image.png", class: "box-img"), anime.public_url,
                  target: "_blank") %>
              <% else %>
                <%= link_to(image_tag(anime.img_url, class: "box-img"), anime.public_url,
                  target: "_blank") %>
              <% end %>
            </div>
            <div>
              <p>
                <%= anime.story %>
              </p>
              <% if user_signed_in? %>
                <% if @watching_anime_ids.include?(anime.id) %>
                  <%= link_to 'みてる！', watches_destroy_path(anime_id: anime.id),
                                       method: 'delete', remote: true,
                                       class: 'btn btn-success btn-sm',
                                       id: "unwatch_#{anime.id}" %>
                <% else %>
                  <%= link_to 'みてない', watches_create_path(anime_id: anime.id),
                                         method: 'post', remote: true,
                                         class: 'btn btn-sm btn-default',
                                         id: "watch_#{anime.id}" %>
                <% end %>
                <% if current_user.admin? %>
                  <%= link_to 'Edit', edit_anime_path(anime.id),
                                      class: 'btn btn-sm btn-default' %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<%= paginate @animes %>