<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default user-info">
      <% if @user.image.present? %>
        <%= image_tag(@user.image, class: 'user-image') %>
      <% else %>
        <%= image_tag("default_icon.png", class: 'user-image') %>
      <% end %>
      <h3 class="user-name"><%= @user.username %></h3>
      <div class="mypage-tweet-btn">
        <%= link_to "Tweet", Cour.current_cour.tweet_btn_uri, class: "twitter-share-button" %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">今期見ているアニメ</li>
      <% @animes.each do |anime| %>
        <li class="list-group-item watch-list">
          <%= link_to(anime.title, anime.public_url, target: "_blank") %>
          <div class="list-btn">
            <%= link_to 'みてる！', watches_destroy_path(anime_id: anime.id),
                                 method: 'delete', remote: true,
                                 class: 'btn btn-success btn-sm',
                                 id: "unwatch_#{anime.id}" %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
